# Python
__pycache__/
*.py[cod]

# Virtual environment
.venv/
venv/
env/

# Environment files
.env
.env.*

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.log

# Internship dataset
data/
